<div class="container product-page">
    <div class="row ">
        <div class="col-md-3 col-sm-6" *ngFor="let product of productList">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-1.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg">
                    </a>
                    <ul class="social">
                        <button type="button" class="btn btn-primary">Add to cart</button>
                    </ul>
                </div>
                <div class="product-content">
                    <h3><a href="#">{{product.name}}</a></h3>
                    <h3 class="title"><a href="#">{{product.description}}</a></h3>
                    <div class="price">${{product.price}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
